.card {
    width: 300px;
    height: 508px;
    border: 1px solid #95A0A7;
    border-radius: 18px;
    position: relative;
}

.card img {
    width: 274px;
    height: 264px;
    padding-top: 20px;
    border-radius: 8px;
}

.card-info {
    padding: 10px;
}

.cart-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: absolute;
    bottom: 0;
    border-radius: 0 0 18px 18px;
}

.cart-btn p {
    margin-right: 8px;
}